body{
	background-color: skyblue;
	color: red;
	font-family: monospace;
	font-size: 25px;
}
.apple{
	height: 100px;
	width: 100px;
	transition: all 1s;
}
.google{
	height:250px ;
	width: 250px;
	transition: all 1s;
}
.emoji{
	height: 250px;
	width: 250px;
	transition: all 1s;
}
img:hover {
	transform: scale(1.1);
}